#keyboardInput{
    text-wrap: wrap;
    height: auto;

    background: $background;
}

#keyboardInputContainer{
    margin: 1 3;
    height: auto;
    min-height: 35%;
    max-height: 40%;

    border-title-align: center;
    border: heavy $foreground;

    background: $background;
}

#keypressDisplayContainer{
    margin: 1 3;
    width: 100%;
    align: center middle;

    background: $background;
}

#attemptSidebarCollapsible{
    dock: left;
    height: 100%;
    width: 19;

    
    background: $background;
    Static{
        color: $primary;
    }
}

AttemptEntry{
    text-style: underline;
}
AttemptEntry:hover{
    background: $foreground;
}

#welcomeLabel {
    text-align: center;
    width: 100%;
    height: 3;

    color: $primary;
}

#wpmLabel {
    text-align: right;
    width: 50%;
}

#timerLabel {
    text-align: left;
    width: 50%;
}

#labelContainer{
    layout: horizontal;
    align: center middle;
    margin: 0 4;
    height: 3;
    border: tall blue;
}

Tooltip{
    max-width: 80%;
}

