Screen{
    align: center middle;
}

#bigContainer{
    width: 100%;
    margin: 0 3;
    layout: horizontal;
}

#mistakesContainer{
    layout: horizontal;
    height: 5;
    width: 50%;

    border-title-align: center;
    border: heavy $foreground;
}

/* info block should be done */
#infoLabelContainer{
    layout: horizontal;
    height: 5;
    width: 50%;

    border-title-align: center;
    border: heavy $foreground;
}

#infoLabelLeft{
    text-align: left;
    width: 50%;

    color: $primary;
}

#infoLabelRight{
    text-align: left;
    width: auto;

    color: $primary;
}
/* info */

#textLabel{
    color: $primary;
}

#textLabelContainer{
    margin: 0 3;

    border-title-align: center;
    border: heavy $foreground;
}


#resultsTitle{
    text-align: center;
}

#mainPlot{
    width: 100%;
    height: 50%;
    margin: 0 3;
}