Screen{
    align: center middle;
}

#bigContainer{
    width: 100%;
    margin: 0 3;
    layout: horizontal;
}

#mistakesContainer{
    layout: horizontal;
    height: 5;
    width: 50%;
}

/* info block should be done */
#infoLabelContainer{
    layout: horizontal;
    height: 5;
    width: 50%;
}

#infoLabelLeft{
    text-align: left;
    width: 50%;
}

#infoLabelRight{
    text-align: left;
    width: auto;
}
/* info */

#textLabelContainer{
    margin: 0 3;
}


#resultsTitle{
    text-align: center;
}

#mainPlot{
    width: 100%;
    height: 50%;
    margin: 0 3;
}