#keyboardInput{
    text-wrap: wrap;
    height: auto;
}

#keyboardInputContainer{
    margin: 1 3;
    height: 30%;
}

#attemptSidebarCollapsible{
    dock: left;
    height: 100%;
    width: 22;
}

#attempyEntry{
    link-style-hover: bold;
}

#welcomeLabel {
    text-align: center;
    width: 100%;
    height: 3;
}

#restartButton{
    margin: 0 4;
}

#wpmLabel {
    text-align: right;
    width: 50%;
}

#timerLabel {
    text-align: left;
    width: 50%;
}

#labelContainer{
    layout: horizontal;
    align: center middle;
    margin: 0 4;
    height: 3;
    border: tall blue;
}

