
.input--suggestion{
    background: red;
}

#labelInput{
    text-wrap: wrap;
    margin: 1 3;
    height: 6;
}

#attemptSidebar{
    dock: left;
    height: 100%;
    width: 20;
    background: grey;
}

#welcomeLabel {
    text-align: center;
    width: 100%;
    height: 3;
}

#restartButton{
    margin: 0 4;
}

#keyboardInput {
    margin: 1 3;
    height: 6;
}
